// colors
$primary: #d9333f;
$black: #584647;
$gray: #ad9b9c;
$white: #fff;

// margin
$margin: 10px;

// font
@mixin font-jp {
  font-family: fot-cezanne-pron, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-kerning: normal;
  font-feature-settings: "pkna", "kern";
  line-height: 1.5;
}

@mixin font-en {
  font-family: futura-pt, futura, "verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-kerning: normal;
  font-feature-settings: "pkna", "kern";
  line-height: 1.5;
}
