// colors
$primary: #d9333f;
$black: #584647;
$gray: #ad9b9c;
$white: #fff;

// margin
$margin: 10px;

// font
@mixin font {
  font-family: futura-pt, fot-cezanne-pron, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-kerning: normal;
  font-feature-settings: "pkna", "kern";
  line-height: 1.5;
}
